/* Importing the 'Poor Story' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

/* Styling for the entire body of the document */
body {
    font-family: 'Poor Story', cursive, sans-serif;
    background-color: #483d8b;
    color: #f0f8ff;
    margin: 20px;
}


/* Styling for images */
img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;

}

/* Styling for background music audio element */
.bgsound {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Text center alignment utility class */
.text-center {
    text-align: center !important;
}
/* Default text size for choice labels */
.choice-label {
    font-size: 16px; 
}

/* Media query for screens up to 768px width */
@media (max-width: 768px) {
    
    .choice-label {
        font-size: 14px;
    }
}

/* Media query for screens up to 480px width */
@media (max-width: 480px) {
    
    .choice-label {
        font-size: 12px;
    }
}